@import url('https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

html body {
  margin: 0;
}
html body .header {
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 999;
}
html body .header .logo {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 20px;
  top: 10px;
  background-image: url("../mediaStorage/milesAheadLogo.png");
  background-size: cover;
}
html body .super {
    height: 700px;
    min-width: 100%;
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: 1;
}
html body .super #studioVid {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
}
html body .content {
    width: 100%;
    position: absolute;
    z-index: 2;
}
html body .content .vidOverlay {
    height: 700px;
    z-index: 2;
}
html body .content .missionStatement {
    height: 500px;
    font-family: "Permanent Marker", cursive;
    background-color: white;
}
html body .content .missionStatement .text {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
html body .content .missionStatement .text .statementMain {
    font-size: 50px;
}
html body .content .instructorsHeading {
    height: 50px;
    font-size: 45px;
    font-family: "Beth Ellen", cursive;
    text-align: center;
    background-color: white;
}
html body .content .instructors {
  height: 500px;
  display: flex;
  align-items: center;
  /* font-family: "Beth Ellen", cursive; */
  background-color: white;
}
html body .content .instructors .stackBoxSection {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
html body .content .instructors .stackBoxSection .stackBox {
    height: 300px;
    width: 1200px;
    display: flex;
    justify-content: center;
}
html body .content .instructors .stackBoxSection .stackBox .item {
    height: 300px;
    width: 200px;
    position: relative;
    background-image: linear-gradient(to right, rgb(153, 40, 40), rgb(100, 7, 7));
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0 3px black;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}
html body .content .instructors .stackBoxSection .stackBox .item:hover {
    transform: scale(1.5);
}
