@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Julius+Sans+One|Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


html body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
html body .header {
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 999;
}
html body .header .logo {
    height: 250px;
    width: 250px;
    position: absolute;
    left: 20px;
    top: 10px;
    background-image: url("../mediaStorage/milesAheadLogo.png");
    background-size: cover;
    transition: .3s;
}
html body .header .logo:hover {
    transform: scale(1.05);
    transition: .3s;
}
html body .header .navSection {
    height: 100%;
    width: 70%;
    position: absolute;
    left: 25%;
    display: flex;
    align-items: center;
}
html body .header .navSection .navBtn {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 30px;
    color: white;
    margin-left: 20px;
    transition: .2s;
    cursor: pointer;
}
html body .header .navSection .navBtn a {
    text-decoration: none;
    color: inherit;
}
html body .header .navSection .navBtn:hover {
    transform: scale(1.05);
    transition: .2s;
}
html body .header .navSection #aboutUs {
    margin-left: 170px;
}
html body .header .navSection #lessonInfo {
    margin-left: 200px;
}
html body .content {
    width: 100%;
    position: absolute;
    top: 100px;
    z-index: 2;
    font-size: 20px;
}
html body .content .sellPoint {
    height: 100px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Sacramento', cursive;
    font-size: 80px;
}
html body .content .examples {
    width: 100%;
}
html body .content .examples .exampleHead {
    height: 100px;
    width: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
html body .content .examples .instList {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
html body .content .examples .instList div {
    width: 700px;
    text-align: center;
}
html body .content .photoDisplay {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
html body .content .photo {
    height: 400px;
    width: 600px;
    background-image: url("../mediaStorage/lessonImage.jpg");
    background-size: cover;
}
html body .content .teachers {
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}
html body .content .teachers .title{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}
html body .content .teachers .text {
    margin-bottom: 50px;
}
html body .content .teachers .teachersFair {
    width: 100%;
    text-align: center;
}
html body .content .lessons {
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}
html body .content .lessons .lessonsHead {
    width: 100%;
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
}
html body .content .lessons .lessonsType .title {
    font-family: 'Sacramento', cursive;
    font-size: 30px;
}
html body .content .lessons .lessonsType .text {
    margin-bottom: 50px;
}
html body .content .footer {
    height: 70px;
    width: 100%;
    background-color: rgb(31, 29, 29);
    z-index: 3;
}
html body .modalForm {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}
html body .modalForm .modalFormBox {
    height: 700px;
    width: 600px;
    background-color: rgb(31, 29, 29);
    color: white;
    font-size: 20px;
}
html body .hidden {
    display: none;
}